Repository obelisk/plaid, pull requests merged in 2024-11, with the labels that each got.

#48 Modify GitHub data generator to work with GitHub app credentials
  plaid/examples/tailers/github.rs
  plaid/resources/plaid.toml
  plaid/src/apis/github/mod.rs
  plaid/src/data/github/mod.rs
Labels: enhancement, Data Generators, breaking

#17 Plaid 14: Efficient Get and Tests
  .github/workflows/Integration.yml
  Cargo.lock
  Cargo.toml
  plaid-stl/Cargo.toml
  plaid-stl/src/lib.rs
  plaid-stl/src/plaid/storage.rs
  plaid/Cargo.toml
  plaid/resources/Cargo.toml
  plaid/resources/Dockerfile_quorum.aarch64
  plaid/resources/plaid.toml
  plaid/src/apis/general/random.rs
  plaid/src/apis/mod.rs
  plaid/src/apis/quorum/mod.rs
  plaid/src/apis/quorum/quorum.rs
  plaid/src/bin/plaid.rs
  plaid/src/bin/request_handler.rs
  plaid/src/data/internal/mod.rs
  plaid/src/data/interval/mod.rs
  plaid/src/executor/mod.rs
  plaid/src/functions/api.rs
  plaid/src/functions/cache.rs
  plaid/src/functions/internal.rs
  plaid/src/functions/mod.rs
  plaid/src/functions/response.rs
  plaid/src/functions/storage.rs
  plaid/src/storage/mod.rs
  plaid/src/storage/sled/mod.rs
  test_modules/crashtest/Cargo.toml
  test_modules/crashtest/harness/harness.sh
  test_modules/crashtest/src/lib.rs
  test_modules/persistent_response/Cargo.toml
  test_modules/persistent_response/harness/harness.sh
  test_modules/persistent_response/resources/index.html
  test_modules/persistent_response/src/lib.rs
  test_modules/sshcerts_usage/Cargo.toml
  test_modules/sshcerts_usage/harness/harness.sh
  test_modules/sshcerts_usage/src/lib.rs
  test_modules/time/Cargo.toml
  test_modules/time/harness/harness.sh
  test_modules/time/src/lib.rs
  testing/integration.sh
Labels: bug, enhancement, API, breaking

#57 Implement benchmarking system
  .gitignore
  runtime/Cargo.lock
  runtime/plaid-stl/src/lib.rs
  runtime/plaid/Cargo.toml
  runtime/plaid/resources/plaid.toml
  runtime/plaid/src/bin/plaid.rs
  runtime/plaid/src/config.rs
  runtime/plaid/src/executor/mod.rs
  runtime/plaid/src/functions/api.rs
  runtime/plaid/src/functions/message.rs
  runtime/plaid/src/lib.rs
  runtime/plaid/src/performance/mod.rs
Labels: enhancement, Modules
