Repository obelisk/plaid, pull requests merged in 2024-10, with the labels that each got.

#27 [npm] Support creating tokens for multiple packages at once
  plaid-stl/src/npm/mod.rs
  plaid-stl/src/npm/shared_structs/mod.rs
  plaid/src/apis/npm/npm_cli_client.rs
  plaid/src/apis/npm/npm_web_client.rs
  plaid/src/apis/npm/validators.rs
  plaid/src/functions/api.rs
Labels: enhancement, API

#43 Deprecate Quorum
  .github/workflows/Integration.yml
  Cargo.lock
  Cargo.toml
  plaid-stl/src/plaid/storage.rs
  plaid/Cargo.toml
  plaid/resources/Cargo.toml
  plaid/resources/Dockerfile_quorum.aarch64
  plaid/resources/plaid.toml
  plaid/src/apis/mod.rs
  plaid/src/apis/quorum/mod.rs
  plaid/src/apis/quorum/quorum.rs
  plaid/src/data/internal/mod.rs
  plaid/src/functions/api.rs
  plaid/src/functions/cache.rs
  plaid/src/functions/internal.rs
  plaid/src/functions/mod.rs
  plaid/src/functions/response.rs
  plaid/src/functions/storage.rs
  plaid/src/storage/mod.rs
  plaid/src/storage/sled/mod.rs
  test_modules/sshcerts_usage/Cargo.toml
  test_modules/sshcerts_usage/harness/harness.sh
  test_modules/sshcerts_usage/src/lib.rs
  testing/integration.sh
Labels: enhancement, API, breaking

#37 Support adding error context for Plaid runtime + panic hook
  Cargo.lock
  plaid-stl/src/lib.rs
  plaid-stl/src/plaid/mod.rs
  plaid/src/executor/mod.rs
  plaid/src/functions/api.rs
  plaid/src/functions/internal.rs
  plaid/src/functions/memory.rs
Labels: enhancement, Modules, breaking
